.main {
  background: #000B32;
  min-height: 85vh;
}
.main__container {
  width: 70%;
  margin: 0 auto;
}
.main__navAdd {
  display: flex;
  align-items: center;
}
.main__navAdd:hover {
  cursor: pointer;
  color: blue;
}
.main__navAuthor:hover {
  cursor: pointer;
}
.main__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.main__btn {
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  margin-right: 5px;
}
.main__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.projectCard {
  cursor: pointer;
  height: 200px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.2s;
  background: url(../img/testbackground.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}
.projectCard__icon {
  padding: 0rem 0.5rem 0rem 0.5rem;
  transition: 0.2s;
}
.projectCard__icon:hover {
  cursor: pointer;
  color: #000B32;
  transform: scale(1.3);
  transition: 0.2s;
}
.projectCard__icon:active {
  transform: scale(1);
}
.projectCard__top {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.projectCard__title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: white;
}
.projectCard__author {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: white;
}

.projectCard:hover {
  transform: scale(1.05);
  transition: 0.2s;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.cardHide {
  display: none;
  height: inherit;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.top {
  height: 100vh;
  width: 100vw;
  background-color: black;
}

.footerContainer {
  height: 20vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding-top: 2.8rem;
  padding-bottom: 2.8rem;
}
.footerContainer--h3 {
  font-size: 1rem;
  text-align: center;
  font-family: "Unica One", cursive;
}
.footerContainer--img {
  height: 1.4rem;
}

.navigation {
  background: #000B32;
  width: 100vw;
  height: 15vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation__image {
  width: 4rem;
  height: auto;
}

.modalButton {
  height: 10vh;
  width: 100vw;
}

.modal-header {
  height: 45vh;
  width: 100%;
  background: url(../img/testbackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.modal-header--close {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 22rem;
}

.modal-body {
  height: 20vh;
  width: 100%;
  display: flex;
}
.modal-body--left {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 8%;
}
.modal-body--left__h1 {
  font-size: 2.6rem;
  font-family: "Unica One", cursive;
  text-align: left;
  padding-bottom: 0.4rem;
  color: #000B32;
  letter-spacing: 0.1rem;
}
.modal-body--left__p {
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.05rem;
}
.modal-body--right {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 8%;
  padding-top: 1rem;
}
.modal-body--right__h3 {
  font-size: 1.6rem;
  font-family: "Unica One", cursive;
  text-align: center;
  padding-bottom: 0.4rem;
  color: #000B32;
  letter-spacing: 0.05rem;
}
.modal-body--right__p {
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
  letter-spacing: 0.1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.icon {
  color: white;
}