@import 'mixins';
@import 'var';

.center{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.first{
    width: 60%;
    margin-left: 20%;
    padding-left: 0.2rem;
}