.navigation{
    background: #000B32;
    height: 10rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    &__image{
        width: 4rem;
        height: auto;
    }
}