@import 'mixins';
@import 'var';

// Modal Styling

.modalButton{
    height: 10vh;
    width: 100vw;
}

.modal-header{
    height: 45vh;
    width: 100%;
    background: url(../img/testbackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &--close{
        height: 20%;
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 22rem;
    }
}

.modal-body{
    height: 20vh;
    width: 100%;
    display: flex;

    &--left{
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding-left: 8%;

        &__h1{
            font-size: 2.6rem;
            font-family: 'Unica One', cursive;
            text-align: left;
            padding-bottom: 0.4rem;
            color: $primaryBlue;
            letter-spacing: 0.1rem;
        }

        &__p{
            font-size: 1.4rem;
            font-family: 'Poppins', sans-serif;

            letter-spacing: 0.05rem;
        }
    }

    &--right{
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-right: 8%;
        padding-top: 1rem;

        &__h3{
            font-size: 1.6rem;
            font-family: 'Unica One', cursive;
            text-align: center;
            padding-bottom: 0.4rem;
            color: $primaryBlue;
            letter-spacing: 0.05rem;
        }

        &__p{
            font-size: 1.4rem;
            font-family: 'Poppins', sans-serif;
            text-align: center;
            letter-spacing: 0.1rem;
        }
    }
}