@import 'mixins';
@import 'var';
@import 'main';
@import 'card';
@import 'footer';
@import 'navigation';
@import 'projectModal';
@import 'deleteModal';
@import "footer";
@import "navigation";
@import 'addProjectModal';


// UNIVERSAL RESETS

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.icon{
    color: white;
}

a{
    text-decoration: none !important;
}

.modalButton{
    height: 10vh;
    width: 100vw;
}











