@import 'mixins';
@import 'var';
@import 'main';
@import 'card';
@import 'footer';
@import 'navigation';
@import 'projectModal';

// UNIVERSAL RESETS

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.icon{
    color: white;
}

a{
    text-decoration: none !important;
}











